language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-25.0.2
  - extra-android-m2repository
  - android-25
jdk:
- oraclejdk8
script:
  - "./gradlew uploadArchives"
after_success:
- ".buildscript/deploy_snapshot.sh"
branches:
  except:
  - gh-pages
  - feature/commander
notifications:
  email: false
sudo: false
cache:
  directories:
  - "$HOME/.gradle"
  - "$HOME/.m2"
env:
  global:
  - secure: TJBSKix3VAoJq6EWbKfulKaiD3NXtKMSEQCJE9Kh0BbWIRcF/GaHfLTI3snxxhDFE5RLqij83iAsuMxItDaxjUipdMhRHKlqQyzAtmQhNdmtznPQGUcjPz0CqNf7oXCKB0NjdLKuU8qHRlizpepwfcDbDZXbO/z3slBp7TVWjneb56NNaJs+c+NBWudtb/aKtcOv2Fh67Pfg8dBMJ/VEIQk54Yt/OPeXNn2one1pNMPf/vjzKLYwBx92taan8r5nIrs05mIuzb0WBtSY67G8abGJqQiXoWU1xJN5Qc4xcxhHjK082evU1lc8AOgFyT83EKZPfEE1u+dd9UjOHXKzRKiXOEsxUtA8JEBa9b3/k4+T5LOhr3hDRXJJYQYxQSGnCk3YMAv8oHhKj9154PSJ1xveQrGbusRxg9mZwy07A9+M58xCiZhwYqTHPYjXMP0OsABaIkGQUJNtqNFsuwbht+qW8y4CqK6p92Zg02PxujDKZysFsAiJkG5TGXzLTLttvrjXnCfZeU462nQwcK9oc9PYk9q+k5ok+R+ng/iDCu05CAqf+OhU9TkouGKgE9PndhpwgCj+4KwbNa7tbGHmdUwpJxuHaG+/G1VqWxwPe2jrsJ9dD1X7owa5wzqcSUthK+/H0lJBcaRmGv1+hsyqB6MyW1cfa41UdS6H0Hlrm1M=
  - secure: XChw+k8GwzozjWRLB5ajB1Oj8w5XUvEITJlivaiq4Ms0LgZKQfQrFNcGIf1mMrWBoBT1GtAvqYj30nBv106RVS7Xa3xSpsrRBfvHiYzmRtX8FwY+2aQ6gP9bR/aqt/7HzmlpStNle2GxfSr7a5TQ2gzfV6tm/kVfBX29qJpkxm3Oe9Y8siNT08m6XLbO7ctBjUAlOG2ihSMqvpLT2nRcFZlkTb42YaBb+k/kGYctieerktShO462dJ/vJCGifm2g0BHX8DmflmcJaKbKc/332+wPICi6YxmmUzMh5LSrmj0RTDmk5h7YVQpsCSNiBdQqBkGiYSovGZJExhDY1YajckODe7a+X3e8+aq3duksQ57B6oqpiNv4/0EqnP5yDr9xnI0aR7C8cd8Kcj3P+Ldh99XL6bM8tasnfuHZEBtDCYVz7b5Tk3KxlpaHVu34LWAc/5pisbkRyql2GJOp0SQs/ADcenuV6oQcxbq8rk/otqEeX3jP83J/BD3SqHL4g/nkcH3BVK8teceDwF2d61OO5kYKwGfpJng29CG/nWcQYXy4R2TRX62LtaYLfT6JvMOwxEcEhpim7QZVMLJy+bEPaQKzP+pliUhDxi3Kihooi9JkgvlJtps86pswDEp8JOX30ZuQus/Lj1s1nhaLmz82+nu47LCh2ykciuDtKAMtaA4=
